.wrapper {
    gap: 15px;
    padding: 15px 0;
}

.details {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 15px 15px;
}

.stats {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.addInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 35px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.backLink {
    display: inline;
    text-decoration: none;
    margin-left: 15px;
    padding: 4px 8px;
    color: white;
    background-color: rgb(51, 116, 255);
    border-radius: 6px;
}